# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore vendor directory.  This project uses 'dep' so you'll 
# need to install https://github.com/golang/dep and run 'dep ensure'
vendor/

# Ignore any config files
iamserver.yml

# Ignore certs:
*.pem

# Ignore system/token database files:
db/*

# Ignore any sample enrollment images created
2fa_enrollment.png